VITE_FIREBASE_API_KEY="AIzaSyAKvzqI5fVdLzzqOa1Q-4chHT1t5d7UuEw"
VITE_FIREBASE_AUTH_DOMAIN="civicease-78b74.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="civicease-78b74"
VITE_FIREBASE_STORAGE_BUCKET="civicease-78b74.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="230237585597"
VITE_FIREBASE_APP_ID="1:230237585597:web:30c9038be8782a5e7cf7d4"
VITE_FIREBASE_MEASUREMENT_ID="G-9Y3ETF1CJW"
